node_modules/
.next/
.next-build/
out/
build/
dist/
.env
.env.local
.env.*
*.env
public/videos/
*.mp4
*.mov
*.avi
*.zip
*.rar
*.psd
*.ai
*.sketch
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
